[submodule "External/Kokkos"]
	path = external/Kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "spiner"]
	path = spiner
	url = https://github.com/lanl/spiner.git
[submodule "external/spiner"]
	path = external/spiner
	url = https://github.com/lanl/spiner.git
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "kokkos-kernels"]
	path = kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "external/kokkos-kernels"]
	path = external/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
