[problem]
problem = "supernova"
t_end = 500.0
nlim = -1
geometry = "spherical"
restart = false
xl = 100.0
xr = 7.0e5
cfl = 0.75
nx = 512
grid_type = "logarithmic"

[problem.params]
fn_hydro = "../profiles/profile_hydro.dat"
fn_comps = "../profiles/profile_comps.dat"
mass_cut = 1.4

# Note: Set the following both to 0.0 to disable Ni56 injection
ni_mass = 0.07 # Msun
ni_boundary = 3.0 # Msun; > mass_cut

[physics]
radiation = false
gravity = true
composition = true
ionization = true
heating = false
engine = true

[engine.thermal]
enabled = true
mode = "asymptotic"
energy = 1.0e51 # erg
tend = 0.1
mend = 0.1 # Msun

[composition]
ncomps = 21

[ionization]
fn_ionization = "../data/atomic_data_ionization.dat"
fn_degeneracy = "../data/atomic_data_degeneracy_factors.dat"
ncomps = 1
solver = "linear"

[bc]
[bc.fluid]
bc_i = "reflecting"
bc_o = "outflow"
[bc.radiation]
bc_i = "outflow"
bc_o = "outflow"

[output]
ncycle_out = 1000
dt_hdf5 = 200.0
dt_init_frac = 1.01

[output.history]
fn = "supernova.hst"
dt = 0.1 # default: dt_hdf5 / 10

[fluid]
basis = "legendre"
nnodes = 1
porder = 1

[fluid.limiter]
do_limiter = true
type = "minmod"
b_tvd = 1.0
m_tvb = 0.0
tci_opt = false
tci_val = 0.25

[radiation]
basis = "legendre"
nnodes = 1
porder = 1

[radiation.limiter]
type = "minmod"
m_tvb = 0.0
b_tvd = 1.0
tci_opt = false
tci_val = 0.1

[heating.nickel]
enabled = true
model = "jeffery"
operator_split = true

[gravity]
model = "spherical"
operator_split = false

[time]
integrator = "EX_SSPRK11"
#integrator = "IMEX_SSPRK22_DIRK" # bad
#integrator = "IMEX_ARK32_ESDIRK"
#integrator = "IMEX_PDARS_ESDIRK"

[eos]
type = "paczynski"

[opacity]
type = "powerlaw"
kP = 2.0e26 # cm^2 / g
kR = 2.0e26 # cm^2 / g
rho_exp = 1.0
t_exp = -3.5
kR_floor = 0.0
kP_floor = 1.0e-4
kR_offset = 0.34
kP_offset = 0.0
